<!DOCTYPE html>
<html>
<head>
    <title>Exp-004</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button v-on:click="increase(2, $event)">Increase</button>
        <button v-on:click="counter++">Increase</button>
        <p>{{ counter }}</p>
        <p v-on:mousemove="updateCoordinates">
            Coordinates: {{ x }} / {{ y }}
            - <span v-on:mousemove="dummy">DEAD SPOT</span>
            - <span v-on:mousemove.stop="">DEAD SPOT 2</span>
        </p>
        <p><input type="text" v-on:keyup.enter="alertMe" />
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                counter: 0,
                x: 0,
                y: 0
            },
            methods: {
                increase: function(step, event) {
                    this.counter += step;
                },
                updateCoordinates: function(event) {
                    this.x = event.clientX;
                    this.y = event.clientY;
                },
                dummy: function(event) {
                    event.stopPropagation();
                },
                alertMe: function() {
                    alert('Alert! Enter pressed');
                }
            }
        });
    </script>
</body>
</html>