<!DOCTYPE html>
<html>
<head>
    <title>Exp-002</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="exercise">
       <!-- 1) Fill the <p> below with your Name and Age - using Interpolation -->
        <p>VueJS is pretty cool - {{ name }} ({{ age }})</p>
        <!-- 2) Output your age, multiplied by 3 -->
        <p>{{ ageTimesThree() }}</p>
        <!-- 3) Call a function to output a random float between 0 and 1 (Math.random()) -->
        <p>{{ randomFloat() }}</p>
        <!-- 4) Search any image on Google and output it here by binding the "src" attribute -->
        <div>
            <img style="width:100px;height:100px" v-bind:src="img">
        </div>
        <!-- 5) Pre-Populate this input with your name (set the "value" attribute) -->
        <div>
            <input type="text" v-bind:value="name">
        </div>
    </div>
    <script>
        new Vue({
            el: '#exercise',
            data: {
                name: 'Doug',
                age: '34',
                img: 'https://i.pinimg.com/originals/65/e1/e9/65e1e9fa24da34f38a86ea71e6f6b2cd.jpg'
            },
            methods: {
                ageTimesThree: function() {
                    return 34 * 3;
                },
                randomFloat: function() {
                    return Math.random();
                }
            }
        });
    </script>
</body>
</html>