<!DOCTYPE html>
<html>
<head>
    <title>Exp-008</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <p v-if="show">You can see me!</p>
        <p v-show="show">You can see me?</p>
        <template v-if="show">
            <h1>Heading</h1>
            <p>Inside a template</p>
        </template>
        <p v-show="show">Do you also see me?</p>
        <button @click="show = !show">Switch</button>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                show: true
            },
            methods: {

            }
        });
    </script>
</body>
</html>