<!DOCTYPE html>
<html>
<head>
    <title>Exp-002</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <h1 v-once>{{ title }}</h1>
        {{ sayHello() }} - <a v-bind:href="link">Google</a>
        <hr/>
        <p v-html="finishedLink"></p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                title: "Hello, world",
                link: 'http://google.com',
                finishedLink: '<a href="http://google.com">Google</a>'
            },
            methods: {
                sayHello: function() {
                    this.title = "Hello";
                    return this.title;
                }
            }
        });
    </script>
</body>
</html>