<!DOCTYPE html>
<html>
<head>
    <title>Exp-010 - Assignment 2: Conditionals &amp; Lists</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="exercise">
    <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
    <div>
        <button @click="show = !show">Toggle</button>
        <p v-if="show">You either see me ...</p>
        <p v-else>...or me</p>
        <p v-show="show">You either see me ...</p>
        <p v-if="!show">...or me</p>
    </div>
    <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
    <ul>
        <li v-for="(thing, index) in stuff">{{ thing }} is index: [{{ index }}]</li>
    </ul>
    <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
    <ul>
        <li v-for="(v, k) in book">
            {{ k }} : {{ v }}
        </li>
    </ul>
    <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
    <ul>
        <li v-for="(v, k) in thingy">
            <h4>{{ v }}</h4>
            <p v-if="k != 'data'">{{ v }}</p>
            <ul v-if="Array.isArray(v)">
                <li v-for="(i, j) in v">
                    {{ i }} : {{ j }}
                </li>
            </ul>
        </li>
    </ul>
</div>

    <script>
        new Vue({
            el: '#exercise',
            data: {
                show: true,
                stuff: ['stuff 1', 'widgets', 'DS9', 'TNG'],
                book: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'},
                thingy: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]}
            }
        });
    </script>
</body>
</html>