<!DOCTYPE html>
<html>
<head>
    <title>Exp-001</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" name="example" v-on:input="changeTitle">
        {{ title }}
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                title: "Hello, world"
            },
            methods: {
                changeTitle: function(event) {
                    this.title = event.target.value;
                }
            }
        });
    </script>
</body>
</html>