<!DOCTYPE html>
<html>
<head>
    <title>Exp-009 - v-for</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button @click="ingredients.push('spices')">Add Spices</button>
        <span v-for="n in 10">{{ n }}</span>
        <hr/>
        <ul>
            <li v-for="person in people">
                <div v-for="(v, k, i) in person">{{ v }}: {{ k }} ({{ i }})</div>
            </li>
        </ul>
        <hr/>
        <ul>
            <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
        </ul>
        <template v-for="(ingredient, i) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ i }}</p>
        </template>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                ingredients: ['meat', 'fruit', 'cookies'],
                people: [
                    {name: 'Doug', age: 34, colour: 'black'},
                    {name: 'Joe Bloggs', age: 56, colour: 'blue'}
                ]
            },
            methods: {

            }
        });
    </script>
</body>
</html>