<!DOCTYPE html>
<html>
<head>
    <title>Exp-005</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <button v-on:click="counter++">Increase</button>
        <button v-on:click="counter--">Decrease</button>
        <p>Counter: {{ counter }}</p>
        <p>Result: {{ result() }} | {{ output }}</p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                counter: 0
            },
            computed: {
                output: function() {
                    return this.counter > 5 ? 'Greater than 5':'Less than 5';
                }
            },
            watch: {
                counter: function(value) {
                    var vm = this;
                    setTimeout(function() {
                        vm.counter = 0;
                    }, 2000);
                }
            },
            methods: {
                result: function() {
                    return this.counter > 5 ? 'Greater than 5':'Less than 5';
                }
            }
        });
    </script>
</body>
</html>